<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PALMYRA</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">  
        <link rel="icon" type="image/png" href="/squareicon.png">
    </head>
    <body> 
        <div class="container">
            <div class="row">
              <div class="col col-1-1 col-md-1-2 logo"> 
                <a href="/"><img src="/images/200829_logo.png" alt="Palmyra logo"></a>
              </div>
              <div class="col col-1-1 col-md-1-2 menu"> 
                <a id="projects" class="menu-item" href="/projects">Projects</a>
                <a id="practice" class="menu-item active-item" href="/about">Practice</a>
              </div>
              <div class="divider"></div>
            </div>
            <div class = "row">
                <div class="col col-1-1 submenu"> 
                    <a class="submenu-item {% if page.title=='about' %}active-item{% endif %}" href="/about">ABOUT</a>
                    <a class="submenu-item {% if page.title=='people' %}active-item{% endif %}" href="/people">PEOPLE</a>
                    <a class="submenu-item {% if page.title=='contact' %}active-item{% endif %}" href="/contact">CONTACT</a>
                    <a class="submenu-item {% if page.title=='news' %}active-item{% endif %}" href="/news">NEWS</a>                       
                </div>
            </div>
            <div class="divider"></div>
            </div>
{{content}}
        </div>        
    </body>

</html>